# Use Command: pip install -r requirements.txt
# to install dependencies
PyCryptodome>=3.4.7
# hashlib --Part of base python lib
# Tkinter==2.7 --Part of the base python lib
splinter==0.7.7
pyautogui>=0.9.36


# Also to utilize the functionality of the headless browser auto-password changer
# please vist https://sites.google.com/a/chromium.org/chromedriver/downloads
# and download the appropriate webdriver for your OS.
# Then add the webdriver download into you environment PATH variable using the
# respective method of you OS.